//colores
$text:rgb(255,255,255);
$shadowText:1px 1px 2px rgb(96, 96, 96);
$bgcolor:rgba(0, 0, 0, 0.4);
$btcolor:rgb(161, 68, 68);


//text weight
$mText:500;
$sText:300;
$pText:100;

//font size
$bigText:3em;
$mdText:2em;
$smText:1em;

//font

$fonts: 'Montserrat', sans-serif;